---
import { getCollection } from "astro:content";
import MemberCard from "../components/MemberCard.astro";
import Layout from "../layouts/Layout.astro";

const members = await getCollection("member");
---

<Layout title="Inicio">
  <h1 class="text-2xl font-semibold mb-3">🦾 Conoce a los miembros</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {members.map((member) => <MemberCard {...member.data} />)}
  </div>
</Layout>
